* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}
// color
$color_base: #EDEDED;
$color_fond: #121212; 
$color_vert: #A5FFC9;
$color_bleu: #0085B2; 

// police d'écriture

// Titre
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

//Sous titre
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
//Paragraphe
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin titre{
	font-family: "Hammersmith One";
	font-size: 64px;
	color: $color_vert; 
}

@mixin sous-titre{
	font-family: "Source Code Pro";
	font-size: 30px;
    color: $color_base;
}

@mixin paragraphe{
	font-family: "Roboto";
	font-size : 28px; 
	 color : $color_base;
	 font-weight: bold;
	
}

body {
	width: 100%;
	background-color: $color_fond;
			
			margin-top: 1% ;
			.Thomas {
				@include sous-titre();
				text-align: center;
		       
			
				margin-bottom: 15%; 
			}

			.stage{ 
				     margin-left: 5%;
				
					 
					.devcav {
						position: absolute;
						top: 15%; 
						width: 40%;
						border-radius: 10%;
						background-color: $color_bleu;
						 margin-left: 5%;
						
						height: 60%;
						opacity: 70%;
						
						h2 {

							@include titre(); 
							margin-top: 3%;
							text-align: center;
						}
						
						p {
							@include paragraphe();		
					        margin-top: 2%;
							margin-left: 4%;
						}
					
						ul {    
							
								@include paragraphe();
								margin-top: 15px;
								list-style-type: none;
							li:before{
								content: "\2022";   
								color: $color_vert;  
								display: inline-block;  
								width: 1em; 
								margin-left: -1em;
							}
							}
						
					}
					.myproject{
						position: absolute;
						top: 15%;
						background-color: $color_bleu;
						margin-left: 50%;
						margin-right: 10%;
						
						border-radius: 60px; 
						padding: 10px; ;
						opacity: 72%;
                        
						h1{
							margin-top: 3%;
						}
						.Mission{
							margin-left: 3%;
							margin-top: 3%;
							margin-bottom: 3%;
							font-size: 26px; 
							h2{
							@include sous-titre(); 
							text-align: left;
							}

							ul{
								margin: 3%;

								li{
									margin-top: 1%;
								}
							}
							.competences{
								@include paragraphe();
								margin-top: 3%;
								p{
									
                                  margin-top: 3%;
								  margin-bottom: 3%;
								}
							}
						}
						
						
              		  }
					
					} 
                 
					.btn{
						position: absolute;
						font-family: Roboto, sans-serif;
						font-weight: 0;					
						font-size: 20px;
						top: 80%;
						left: 48%; 
						color: $color_fond;
						font-weight: bold;
						background-color: #a5ffc9;
						padding: 10px 30px;
						border: solid #00000000 2px;
						box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
						border-radius: 50px;
						transition : 700ms;
						transform: translateY(0);
						display: flex;
						flex-direction: row;
						align-items: center;
						cursor: pointer;
						
						}
						.btn:hover{
							transition : 1000ms;
							padding: 10px 50px;
							transform : translateY(-0px);
							background-color: $color_bleu;
							color: $color_base;
							
							
							}
							
				}// fermeture body


	

