.header {
    li {
       margin-left: 30%;   
        a {
            
            font-size: 18px;
            font-family: "Source Code Pro";
            font-weight: bold;
            color: #E2E2E2;
            line-height: 100%;
            opacity: 100%;



        }
        overflow: hidden;
        padding: 1% 5%;
    }
   

       
       a:hover {
           color: #b185B2; 
          animation-delay: 3s;
          text-decoration: none;



       }

    }