/* CONTROLS */
/* SLIDES */
/* DOTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: sans-serif;
}
body {
	background-color: #121212;
	color: #A5FFC9;
}
h1 {
	font-size: 4.8rem;
}
.carousel {
	display: flex;
	flex-direction: column;
	width: 80rem;
	margin: 20rem auto;
	position: relative;
}
.btn-arrow {
	width: 3.6rem;
	height: 3.6rem;
	background-color: #A5FFC9;
	border: none;
	border-radius: 50%;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	cursor: pointer;
	position: absolute;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	&:hover {
		background-color: #e6e6e6;
	}
	&:active {
		background-color: #e6e6e6;
	}
}
.btn-arrow-left {
	top: 48%;
	left: 0;
	transform: translate(-50%, -50%);
}
.btn-arrow-right {
	top: 48%;
	right: 0;
	transform: translate(50%, -50%);
}
.icon {
	width: 2.4rem;
	height: 2.4rem;
}
.inner {
	position: relative;
	align-self: center;
	width: 80rem;
	height: 36rem;
	background-color: #6a0f81;
	border-radius: 30px;
	overflow: hidden;
}
.container {
	list-style: none;
}
.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
	position: absolute;
	background-color: #0085B2;
	width: 80rem;
	height: 36rem;
	transition: all 0.3s;
}
.dots {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}
.dot {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	border: none;
	background-color: #A5FFC9;
	cursor: pointer;
	&:hover {
		background-color: #A5FFC9;
	}
}
.dot--active {
	background-color: #A5FFC9;
}
