$color_base: #EDEDED;
$color_fond: #121212; 
$color_vert: #A5FFC9;
$color_bleu: #0085B2; 

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

//Sous titre
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
//Paragraphe
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin titre{
	font-family: "Hammersmith One";
	font-size: 70%;
	color: $color_vert; 
}

@mixin sous-titre{
	font-family: "Source Code Pro";
	font-size: 40px;
    color: $color_base;
}

@mixin paragraphe{
	font-family: "Roboto";
	font-size : 28px; 
	 color : $color_base;
	 font-weight: bold;
	
}

body{
    background-color: #121212;
    width: 100%;
    
    div.absoluteL {
					
				
						// max-width: 50%;
						width: 40%;                
						border-radius: 10%;
						background-color: $color_bleu;
                        height: 50%;
						
						opacity: 70%;
					  position: absolute;
                        top: 10%;
                   
                        
					
						h2 {
							@include titre(); 
							text-align: center;
						}
						.Thomas {
							@include sous-titre();
							text-align: right;
							margin-right: 15%;
							margin-top: 25px;
						}
						p {
							@include paragraphe();
							
							margin-top: 3%;
                            margin-left: 3%;
						}
						.deux {
							margin-top: 15px;
						}
						
						ul {    
							
								@include paragraphe();
								margin-top: 15px;
								list-style-type: none;
							li:before{
								content: "\2022";   
								color: $color_vert;  
								display: inline-block;  
								width: 1em; 
								margin-left: -1em;
							}
							}
						
  
  }

  .absoluteR{
                        position: absolute;
                        top: 80px; 
                        background-color: $color_bleu;
                        height:50%;
						margin-left: 50%;
						margin-right: 10%;
						
						border-radius: 60px; 
						padding: 10px; ;
						opacity: 72%;

						.Mission{
							font-size: 26px; 
						}
						h2{
							@include sous-titre(); 
							text-align: left;
						}
						.conceptualiser{
							@include paragraphe();
							text-align: left;
						
						}
						.php{
							@include paragraphe();
							text-align: left; ;
						}

  }


}